<img
  src="{{ artista.img.url }}"
  alt="{{ artista.nombre }}"
  width="{{ artista.img.width }}"
  height="{{ artista.img.height }}"
>
<h2>
  {{ artista.nombre }}
</h2>

<table>
  <thead>
    <tr>
      <th>{{ 'Foto del album'|t }}</th>
      <th>{{ 'Nombre del album'|t }}</th>
      <th>{{ 'Canción'|t }}</th>
    </tr>
  </thead>
  <tbody>
    {% for cancion in canciones %}
      <tr>
        <td>
          <img
            src="{{ cancion.foto_album.url }}"
            alt="{{ cancion.nombre_album }}"
            width="{{ cancion.fot_album.width }}"
            height="{{ cancion.fot_album.height }}"
          >
        </td>
        <td>
          {{ cancion.nombre_album }}
        </td>
        <td>
          {{ cancion.nombre }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
