<ul>

  {% for lanzamiento in lanzamientos %}
    <li>
      <img
        src="{{ lanzamiento.img.url }}"
        alt="{{ lanzamiento.nombre }}"
        width="{{ lanzamiento.img.width }}"
        height="{{ lanzamiento.img.height }}"
      >
      <h3>
        {{ lanzamiento.nombre }}
      </h3>
      <div>
        {% for artista in lanzamiento.artistas %}
          <a href="/artista/{{ artista.id }}">
            {{ artista.name }}
          </a>
          {% if loop.last == false %},{% endif %}
        {% endfor %}
      </div>

    </li>
  {% endfor %}

</ul>
